.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
    background: -webkit-linear-gradient(to right, #EFFFFD, #90e7ec, #68c0ef, #3767ff);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
    background: linear-gradient(to right, #EFFFFD, #90e7ec, #68c0ef, #3767ff);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


#logoLogin {
  width: 50%;
}
#logoLoginF {
    width: 80%;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
      #logoLogin {
        width: 20%;
      }
      #logoLoginF {
            width: 30%;
            margin-bottom: 20px;
      }
}

@media screen and (max-width: 1024px) {
    #logoLogin {
        width: 20%;
    }

    #logoLoginF {
        width: 30%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 600px) {
      #logoLogin {
          width: 20%;
      }
    #logoLoginF {
        width: 30%;
        margin-bottom: 20px;
    }
}
