body {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
    background: -webkit-linear-gradient(to right, #EFFFFD, #90e7ec, #68c0ef, #3767ff);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
    background: linear-gradient(to right, #EFFFFD, #90e7ec, #68c0ef, #3767ff);
}
.note
{
    text-align: center;
    height: 80px;
    /*background: -webkit-linear-gradient(left, #0072ff, #8811c5);*/
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    width: 100%;
}

.note h3{
    color: white;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
