{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}DASHBOARD{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'sidebar-07/css/style.css' %}">
   
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
         
  
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                 
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_client' %}">Lista de Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_waiter' %}">Lista de Meseros y Mesas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_product' %}">Lista de Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_order' %}">Lista de Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_details_invoice' %}">Lista de Facturas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create_invoice' %}">Crear  Facturas</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create_client' %}">Ingresar un Nuevo Cliente al sistema</a>
                </li>
                </ul>

              </div>
            </div>
          </nav>
       
        
        {% block contenido %}
            
        {% endblock contenido %}
    </div>
</div>

<script src="{% static 'sidebar-07/js/jquery.min.js' %}"></script>
<script src="{% static 'sidebar-07/js/popper.js' %}"></script>
<script src="{% static 'sidebar-07/js/bootstrap.min.js' %}"></script>
<script src="{% static 'sidebar-07/js/main.js ' %}"></script>
</body>
</html>