{% extends 'base.html' %}
{% load static %}
{% block contenido %} 

<link rel="stylesheet" href="{% static 'css/tailwind.css/' %}">
<link rel="stylesheet" href="{% static 'css/tailwind.output.css/' %}">


<div class="card ">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Nuevo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="color: #6c2bd9" href="/">Cancelar</a>
      </li>

    </ul>
  </div>
  <div class="card-body">

       <h1 class="text-center mb-4">Crear Un Nueva Orden</h1>
    <form action="" method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button class="btn btn-primary -mb-4" style="background-color: #6c2bd9" type="submit">GUARDAR</button>
    </form>

  </div>
</div>
{% endblock %}