{% extends 'base.html' %}
 {% block contenido%}
 
 <div class="container">
    <div class="row">
        <div class="col">
            <h4>Factura :</h4>
          </div>
      <
    </div>
  </div>
</br></br>
 <table class="w-full whitespace-no-wrap">
    <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Types</th>
            <th class="px-4 py-3">Items name</th>
            <th class="px-4 py-3">Price unit</th>            
            <th class="px-4 py-3">SubTotal</th>
          
        </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        {% for order in DetailsOrder %}

            <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 text-sm">
                     {{ order.product_id.type }} 
                </td>  
        
        <td class="px-4 py-3 text-sm">
            {{ order.quantity }} {{ order.product_id.name }} 
        </td>   
        <td class="px-4 py-3 text-sm">
            {{ order.product_id.price }}
           
        </td>   
        <td class="px-4 py-3 text-sm">
            {{ order.total}}{{order.table_id.Ubications}}
        </td> 
        
    {% endfor %}
    </tbody>
</table>








 {% endblock%}