{% extends 'base.html' %}
 {% block contenido%}
<div class="container">
    <div class="row">
      
      <div class="col"><h2>Listado De Meseros </h2><br>
        <a href="{% url 'create_waiter' %}">Agregar Mesero</a>
        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">ID</th>
                    <th class="px-4 py-3">name</th>
                    <th class="px-4 py-3">Lastname</th>            
                    
                    <th class="px-4 py-3">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                {% for waiter in waiters %}
        
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3 text-sm">
                             {{ waiter.id }} 
                        </td>  
                
                <td class="px-4 py-3 text-sm">
                    {{ waiter.name }} 
                </td>     
                <td class="px-4 py-3 text-sm">
                    {{ waiter.lastname }}  {{ waiter.lastname2 }} 
                </td>                 
                <td class="px-4 py-3">
                    <div class="flex items-center space-x-4 text-sm">
                        <a class="btn" href=" {% url 'edit_waiter' waiter.id %}">
                            <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                    aria-label="Edit">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                </svg>Editar
                            </button>
                        </a>
                    </div>
                    </td>
                        <td class="px py">
                            <div class="flex items-center space-x-4 text-sm">
                        <a class="btn" href=" {% url 'delete_waiter' waiter.id %}">
                            <button
                                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                    aria-label="Delete">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 45 30">
                                    <path fill-rule="evenodd"
                                          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                          clip-rule="evenodd"
                                    ></path>
                                </svg>Eliminar
                            </button>
                        </a>
                        
                    </div>
                </td>
            {% endfor %}
            </tbody>
        </table>  
    </div>
      <div class="col-6"><h2>Listado De Mesas </h2><br>
        <a href="{% url 'create_table' %}">Agregar Mesas</a>
        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    
                    <th class="px-4 py-3">mesa</th>
                    <th class="px-4 py-3">Num de Comensales</th>          
                    <th class="px-4 py-3">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                {% for table in tables %}
        
                    <tr class="text-gray-700 dark:text-gray-400">
                       
                
                <td class="px-4 py-3 text-sm">
                    {{ table.ubications }} 
                </td>     
                <td class="px-4 py-3 text-sm">
                    {{ table.num_diners }} Personas 
                </td>   
                 <td class="px py-3">
                    <div class="flex items-center space-x-4 text-sm">
                        <a class="btn" href=" {% url 'edit_table' table.id %}">
                            <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                    aria-label="Edit">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                </svg>Editar
                            </button>
                        </a>
                        <a class="btn" href=" {% url 'delete_table' table.id%}">
                            <button
                                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                    aria-label="Delete">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 45 30">
                                    <path fill-rule="evenodd"
                                          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                          clip-rule="evenodd"
                                    ></path>
                                </svg>Eliminar
                            </button>
                        </a>
                    </div>
                </td>
            {% endfor %}
            </tbody>
        </table>  
    
    </div>
    
    </div>
  </div>







 {% endblock%}