{% extends 'base.html' %}
 {% block contenido%}
 
 <h2>Lista de Facturas</h2>
 <a href="{% url 'create_invoice' %}">Agregar una Nueva Factura</a>
 <table class="w-full whitespace-no-wrap">
    <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Name</th>
        
            <th class="px-4 py-3">Actions</th>
        </tr>
        
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        {% for invoice in invoices %}

            <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div
                        class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                    >
                    {{ invoice.client_id.name}}
                    <div
                            class="absolute inset-0 rounded-full shadow-inner"
                            aria-hidden="true"
                    >
                    {{ invoice.client_id.lastname}}
                    </div>
                </div>
            </div>
        </td>
        
        
        <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">
                <a class="btn" href="{% url 'list_invoice' invoice.id %} ">
                    <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Edit">
                        ir a Orden
                    </button>
                </a>
                <a class="btn" href="{% url 'delete_invoice' invoice.id %} ">
                    <button
                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Delete">
                       Eliminar
                    </button>
                </a>
            </div>
        </td>
    {% endfor %}
    </tbody>
</table>
 {% endblock%}